{{define "page" }}
<!DOCTYPE html>
<html lang="en">

<head>
  {{block "head" .}}
  <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.png"> -->
  <title>{{.Title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="opentsg, dashboard, picniccss">
  <meta name="description" content="A simple opentsg job dashboard">
  <link rel="stylesheet" href="/r/picnic.min.css">
  <link rel="stylesheet" href="/r/site.css">
  <link rel="icon" href="/r/img/favicon.png" type="image/png">
  {{end}}
  {{block "styles" .}}{{end}}
</head>

<body class="dash">
  {{block "nav" .}}{{end}}
  <header>
    {{block "header" .}}{{end}}
  </header>
  <main>
    {{block "main" .}}
    Override any block with a new template to replace
    the default contents.
    {{end}}
  </main>
  <footer>
    {{block "footer" .}}{{end}}
  </footer>
  {{block "last" .}}{{end}}
</body>

</html>
{{end}}