{{define "page" }}
<!DOCTYPE html>
<html lang="en">

<head>
  {{block "head" .}}
  <title>{{.Title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="opentsg, dashboard, picniccss">
  <meta name="description" content="A simple opentsg job dashboard">
  <link rel="stylesheet" href="{{.Ptr}}r/picnic.min.css">
  <link rel="stylesheet" href="{{.Ptr}}r/site.css">
  <link rel="icon" href="{{.Ptr}}r/img/favicon.png" type="image/x-icon">
  {{end}}
  {{block "styles" .}}{{end}}
</head>

<body class="dash">
  {{block "nav" .}}{{end}}
  <header>
    {{block "header" .}}{{end}}
  </header>
  <main>
    {{block "main" .}}
    Override any block with a new template to replace
    the default contents.
    {{end}}
  </main>
  <footer>
    {{block "footer" .}}{{end}}
  </footer>
  {{block "last" .}}{{end}}
</body>

</html>
{{end}}